@use '../../foundation/function/index' as *;

.bl_doctorContainer {
    display: flex;
    flex-direction: column;
    gap: rem(60);

    @include underSP {
        gap: rem(50);
    }

    .bl_doctorContainer_upperContainer {
        display: grid;
        grid-template-columns: rem(520) 1fr;
        gap: rem(80);

        @include underSP {
            grid-template-columns: 1fr;
            gap: rem(40);
        }

        .bl_doctorUpperContainer_imgWrapper {
            display: block;
            width: 100%;
            height: auto;
            overflow: hidden;
            border-radius: rem(60);
            aspect-ratio: 1/1;

            @include underSP {
                aspect-ratio: 1/1;
                max-width: rem(400);
                height: auto;
                margin-inline: auto;
            }

            .el_doctorUpperContainer_imgWrapper_img {
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
        }


        .bl_doctorUpperContainer_rightWrapper {

            .bl_doctorUpperContainer_nameContainer {
                margin-bottom: rem(38);


                .el_doctorUpperContainer_nameContainer_job {
                    color: var(--black);
                    font-family: var(--subFontJa);
                    font-size: rem(16);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: calc(1.28 / 16 * 1em);
                    margin-bottom: rem(20);
                }

                .el_doctorUpperContainer_nameContainer_job_director{
                    width: fit-content;
                    padding: rem(8);
                    border-radius: rem(2);
                    background-color: var(--black);
                    color: #fff;
                }

                .el_doctorUpperContainer_nameContainer_job_box{
                    width: fit-content;
                    padding: rem(8);
                    border-radius: rem(2);
                    background-color: var(--gray);
                }


                .bl_doctorUpperContainer_nameContainer_nameWrapper {
                    display: flex;
                    align-items: flex-end;
                    gap: rem(10);
                    padding-bottom: rem(14);
                    border-bottom: 1px solid var(--black);



                    .el_doctorUpperContainer_nameContainer_nameWrapper_name {
                        font-family: var(--subFontJa);
                        font-size: rem(28);
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: calc(2.24 / 28 * 1em);
                    }

                    .el_doctorUpperContainer_nameContainer_nameWrapper_nameEn {
                        font-family: var(--subFontEn);
                        font-size: rem(14);
                        font-weight: 400;
                        line-height: 100%;
                        letter-spacing: calc(0.28 / 14 * 1em);
                    }
                }

            }

            .bl_doctorUpperContainer_txtWrapper_txtWrapper {
                .el_doctorUpperContainer_txtWrapper_txtWrapper_txt {
                    color: var(--black);
                    font-family: var(--mainFont);
                    font-size: rem(16);
                    font-weight: 400;
                    line-height: 1.8;
                    letter-spacing: calc(1.28 / 16 * 1em);

                    @include underSP {
                        line-height: 1.6;
                    }
                }
            }


            .bl_doctorContainer_profileListContainer {
                margin-top: rem(40);
            }
        }
    }


    .bl_doctorContainer_lowerContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(rem(400) ,100%), 1fr));
        gap: rem(60);
        justify-content: space-between;

        @include underSP {
            grid-template-columns: 1fr;
            gap: rem(30);
        }
    }
}


.bl_doctorContainer_profileListContainer {
    padding: rem(30);
    border-radius: rem(8);
    background: var(--gray);

    .el_doctorContainer_profileList_ttl {
        color: var(--black);
        font-family: var(--subFontJa);
        font-size: rem(20);
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: calc(1.6 / 20 * 1em);
        padding-left: rem(20);
        padding-block: rem(2);
        border-left: 4px solid var(--black);
        margin-bottom: rem(24);
    }

    .bl_doctorContainer_profileList {
        display: flex;
        flex-direction: column;
        gap: rem(6);


        .bl_doctorContainer_profileList_item {
            display: grid;
            grid-template-columns: rem(80) auto;
            gap: rem(40);
            align-items: flex-start;

            @include underSP {
                gap: rem(14);
            }

    
            .el_doctorContainer_profileList_item_year {
                font-size: rem(16);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(1.28 / 16 * 1em);
            }

            .el_doctorContainer_profileList_item_txt {
                color: var(--black);
                font-size: rem(16);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(1.28 / 16 * 1em);
            }
        }
    }

    .bl_doctorContainer_profileList_license {

        .bl_doctorContainer_profileList_item {
            display: block;
        }
    }
}

.bl_doctorArchiveContainer {
    padding-inline: rem(20);

    .bl_doctorArchiveContainer_inner {
        display: flex;
        flex-direction: column;
        gap: rem(100);
        max-width: rem(1200);
        width: 100%;
        margin-inline: auto;

        @include underSP {
            gap: rem(80);
        }

        .bl_commonDownBtnContainer {
            margin-bottom: 0;
            max-width: rem(850);
            margin-inline: auto;
            grid-template-columns: repeat(auto-fill, minmax(min(rem(200) ,100%), 1fr));
        }

        .bl_doctorContainer {
            &:not(:last-child) {
                padding-bottom: rem(80);
                border-bottom: 1px dashed rgba(52, 49, 44, 0.30);
            }
        }

        .is-doctor{
            grid-template-columns: rem(350) 1fr;

            @include underSP {
                grid-template-columns: 1fr;
            }
        }

        .bl_doctorContainer_upperContainer_imgContainer{
            height: 100%;

            .bl_doctorUpperContainer_imgWrapper{
                position: sticky;
                top: rem(220);
            }
        }
    }
}