@use '../../foundation/function/index' as *;


.bl_faqArchive {
    padding-inline: rem(20);

    .bl_faqArchive_inner {
        display: grid;
        grid-template-columns: rem(250) 1fr;
        gap: rem(100);
        max-width: rem(1200);
        width: 100%;
        margin-inline: auto;

        @include underSP {
            grid-template-columns: 1fr;
            gap: rem(50);
        }

        .bl_faqArchive_navContainer {
            height: 100%;

            .bl_faqArchive_nav {
                position: sticky;
                top: rem(220);

                @include underSP {
                    position: relative;
                    top: auto;
                }

                .bl_faqArchive_nav_ttl {
                    padding: rem(10);
                    color: var(--black);
                    font-family: var(--subFontJa);
                    font-size: rem(16);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: calc(1.28 / 16 * 1em);
                    border-radius: rem(2);
                    background: #F6F6F6;
                    text-align: center;
                }

                .bl_faqArchive_nav_list {
                    display: flex;
                    flex-direction: column;
                    gap: rem(24);
                    padding-top: rem(24);

                    .bl_faqArchive_nav_list_item {
                        display: grid;
                        grid-template-columns: rem(10) auto;
                        gap: rem(14);
                        align-items: center;

                        &::before {
                            content: "";
                            position: relative;
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: rgba(52, 49, 44, 0.30);
                        }

                        .el_faqArchive_nav_list_item_link {
                            display: block;
                            width: fit-content;
                            color: var(--black);
                            font-size: rem(14);
                            font-weight: 400;
                            line-height: 1.2;
                            letter-spacing: calc(1.12 / 14 * 1em);

                            .el_faqArchive_nav_list_item_link_txt {
                                background-image: linear-gradient(var(--black), var(--black));
                                background-repeat: no-repeat;
                                background-size: 0 1px;
                                background-position: bottom right;
                                transition: background-size 0.5s ease;
                            }

                            @media (any-hover: hover) {
                                &:hover {
                                    .el_faqArchive_nav_list_item_link_txt {
                                        background-size: 100% 1px;
                                        background-repeat: no-repeat;
                                        background-position: bottom left;
                                        transition: background-size 0.5s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .is-pc {
                @include underSP {
                    display: none;
                }
            }

            .bl_faqArchive_nav_btn {
                display: grid;
                grid-template-columns: auto rem(17);
                gap: rem(10);
                align-items: center;
                width: 100%;
                border-radius: rem(4);
                background-color: #F6F6F6;
                padding-block: rem(10);
                padding-inline: rem(20);
                border: none;

                .el_faqArchive_nav_btn_txt {
                    color: var(--black);
                    text-align: center;
                    font-family: var(--subFontJa);
                    font-size: rem(16);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: calc(1.28 / 16 * 1em);
                }

                .el_faqArchive_nav_btn_arrow{
                    rotate: 90deg;
                }
            }

            .bl_faqArchive_nav_listContainer{
                height: 0;
                overflow: hidden;

                .bl_faqArchive_nav_list{
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(180)), 1fr));
                }
            }

            .is-sp {
                display: none;
                @include underSP {
                    display: block;
                }
            }
        }


        .bl_faqArchive_contents {
            display: flex;
            flex-direction: column;
            gap: rem(120);

            @include underSP {
                gap: rem(100);
            }


            .bl_faqArchive_contents_item {
                display: flex;
                flex-direction: column;
                gap: rem(20);

                .el_faqArchive_contents_item_ttl {
                    color: var(--black);
                    font-family: var(--subFontJa);
                    font-size: rem(30);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: calc(2.4 / 30 * 1em);
                }
            }
        }
    }
}