@use '../../foundation/function/index' as *;

.bl_commonFrontPage {
    padding-top: rem(202);

    @include underSP {
        padding-top: rem(100);
    }
}


.bl_frontPageTtlContainer {
    width: fit-content;
    margin-inline: auto;

    .bl_frontPageTtlContainer_enTtl {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(15);
        color: var(--black);
        text-align: center;
        font-family: var(--subFontEn);
        font-size: rem(22);
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: calc(2.2 / 22 * 1em);
        margin-bottom: rem(20);

        @include underSP {
            font-size: rem(20);
        }

        span {
            display: block;
            width: fit-content;
        }
    }

    .bl_frontPageTtlContainer_jaTtl {
        color: var(--black);
        text-align: center;
        font-family: var(--subFontJa);
        font-size: rem(40);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: calc(3.2 / 40 * 1em);

        @include underSP {
            font-size: rem(26);
        }
    }
}

/* ------------------------------------------------------------------------------------------
#FVスライダー
------------------------------------------------------------------------------------------ */

.bl_fvSlideSwiperContainer {
    padding-top: rem(40);
    padding-bottom: rem(50);
    overflow: hidden;

    @include underSP {
        padding-bottom: rem(20);
    }


    .bl_fvSlideSwiper {
        position: relative;
        max-width: rem(1020);
        width: 100%;
        margin-inline: auto;
        overflow: visible;


        .swiper-slide {
            width: 100%;
            opacity: .6;
            transition: opacity 0.5s ease;


            .bl_fvSlideSwiper_item {
                display: block;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                border-radius: rem(4);
                overflow: hidden;
                border: 2px solid var(--black);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .bl_fvSlideSwiper_link {
                display: block;
                transition: opacity 0.5s ease;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }

        .swiper-slide-active {
            opacity: 1;
            transition: opacity 0.5s ease;
        }

        .bl_fvSlideSwiper_btnContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: rem(380);
            margin-inline: auto;
            pointer-events: none;

            @include underSP {
                top: auto;
                bottom: rem(-5);
                transform: translate(-50%, 0);
                max-width: 98%;
            }

            .bl_fvSlideSwiper_prev,
            .bl_fvSlideSwiper_next {
                cursor: pointer;
                max-width: rem(30);
                display: grid;
                grid-template-columns: rem(8);
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                background-color: var(--black);
                border-radius: 100%;
                z-index: 1;
                border: none;
                transition: opacity 0.5s ease;
                pointer-events: auto;

                @include underSP {
                    max-width: rem(32);
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }



        .bl_fvSlideSwiper_pageNationContainer {
            display: flex;
            align-items: center;
            gap: rem(10);
            justify-content: center;
            padding-top: rem(20);

            .bl_fvSlideSwiper_playBtn {
                display: block;
                width: 100%;
                max-width: rem(22);
                height: auto;
                aspect-ratio: 1/1;
                background-color: var(--black);
                border-radius: 100%;
                border: none;
                cursor: pointer;

                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1;
                    background-image: url('../img/common/blk.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .is-stop {
                &::before {
                    background-image: url('../img/common/play.svg');
                    right: rem(2);
                }
            }


            .bl_fvSlideSwiper_pagination {
                width: fit-content;
                display: flex;
                align-items: center;
                gap: rem(4);

                .swiper-pagination-bullet {
                    display: block;
                    width: rem(22);
                    height: rem(4);
                    background-color: #D9D9D9;
                    border-radius: rem(100);
                    opacity: 1;
                }

                .swiper-pagination-bullet-active {
                    background-color: var(--black);
                    opacity: 1;
                }
            }
        }

    }
}



/* ------------------------------------------------------------------------------------------
#ピックアップセクション
------------------------------------------------------------------------------------------ */

.bl_frontPickupSection {
    padding-block: rem(50);
    padding-inline: rem(20);
    border-radius: rem(60);
    background-color: #F6F6F6;

    @include underSP {
        padding-inline: rem(10);
    }

    .bl_frontPickupSection_inner {
        max-width: rem(900);
        width: 100%;
        margin-inline: auto;
    }

    .bl_frontPageTtlContainer {
        margin-bottom: rem(50);
    }

    .bl_frontPickupSection_contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(20);
        column-gap: rem(10);

        @include underSP_m {
            grid-template-columns: repeat(1, 1fr);
        }

        .bl_frontPickupSection_item {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 440/176;
            transition: opacity 0.5s ease;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.5s ease;
                }
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------
#施術メニューセクション
------------------------------------------------------------------------------------------ */

.bl_frontMenuSection {
    padding-top: rem(150);
    padding-bottom: rem(180);
    padding-inline: rem(20);

    @include underSP {
        padding-top: rem(120);
        padding-bottom: rem(120);
    }

    .bl_frontPageTtlContainer {
        margin-bottom: rem(80);

        @include underSP {
            margin-bottom: rem(50);
        }
    }

    .bl_menuPartsCatContainer {
        margin-bottom: rem(60);

        @include underSP {
            margin-bottom: rem(30);
        }

        .bl_frontMenuSection_selectMenuPostContainer {
            max-width: rem(1200);
            width: 100%;
            margin-inline: auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(450)), 1fr));
            gap: rem(20);
            width: 100%;
            margin-top: rem(20);

            .bl_frontMenuSection_selectMenuPostItem {
                display: grid;
                grid-template-columns: 1fr rem(14);
                align-items: center;
                gap: rem(10);
                padding: rem(24);
                border-radius: rem(20);
                background-color: #F6F6F6;
                transition: opacity 0.5s ease;
                cursor: pointer;

                .el_frontMenuSection_selectMenuPostItem_ttl {
                    color: var(--black);
                    font-family: var(--subFontJa);
                    font-size: rem(18);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: calc(1.44 / 18 * 1em);
                }
            }
        }
    }

    .bl_frontMenuSection_allBtnContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(40);
        max-width: rem(486);
        margin-inline: auto;

        @include underSP {
            grid-template-columns: repeat(1, 1fr);
            gap: rem(20);
            max-width: rem(280);
        }
    }
}


/* ------------------------------------------------------------------------------------------
#症例セクション
------------------------------------------------------------------------------------------ */

.bl_frontCaseSection {
    overflow: hidden;
    padding-bottom: rem(150);
    padding-inline: rem(20);

    @include underSP {
        padding-bottom: rem(120);
    }


    .bl_frontPageTtlContainer {
        margin-bottom: rem(80);

        @include underSP {
            margin-bottom: rem(50);
        }
    }

    .bl_topCaseSwiperContainer {
        margin-bottom: rem(80);

        @include underSP {
            margin-bottom: rem(50);
        }

        .bl_topCaseSwiper {
            width: 100%;
            overflow: visible;
            max-width: rem(1050);
            width: 100%;
            margin-inline: auto;

            .swiper-wrapper{
                margin-bottom: rem(30);
            }

            .swiper-slide {
                opacity: .5;
                transition: opacity 0.5s ease;
            }

            .swiper-slide-visible {
                opacity: 1;
                transition: opacity 0.5s ease;
            }
        }

        .bl_topCaseSwiper_btnContainer {
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: rem(100);
            margin-inline: auto;
            gap: rem(20);
            width: 100%;

            .bl_topCaseSwiper_prev,
            .bl_topCaseSwiper_next {
                display: grid;
                grid-template-columns: rem(8);
                align-items: center;
                justify-content: center;
                max-width: rem(50);
                width: 100%;
                height: auto;
                aspect-ratio: 1/1;
                background-color: var(--black);
                border-radius: 100%;
                border: none;
                cursor: pointer;
                transition: opacity 0.5s ease;
                z-index: 1;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }

    .bl_commonAllBtnContainer {
        max-width: rem(233);
        margin-inline: auto;
    }
}

/* ------------------------------------------------------------------------------------------
#ドクター紹介セクション
------------------------------------------------------------------------------------------ */

.bl_frontDoctorSection {
    padding-block: rem(150);
    padding-inline: rem(20);
    border-radius: rem(60);
    background-color: #F6F6F6;

    @include underSP {
        padding-block: rem(120);
    }

    .bl_frontDoctorSection_inner {
        max-width: rem(1200);
        width: 100%;
        margin-inline: auto;

        .bl_frontPageTtlContainer {
            margin-bottom: rem(80);

            @include underSP {
                margin-bottom: rem(50);
            }
        }

        .bl_doctorContainer {
            margin-bottom: rem(80);
        }

        .bl_commonAllBtnContainer {
            max-width: rem(260);
            margin-inline: auto;
        }
    }
}

/* ------------------------------------------------------------------------------------------
#お知らせセクション
------------------------------------------------------------------------------------------ */

.bl_frontNewsSection {
    padding-inline: rem(20);
    padding-block: rem(150);

    @include underSP {
        padding-block: rem(120);
    }

    .bl_frontNewsSection_inner {
        max-width: rem(900);
        width: 100%;
        margin-inline: auto;

        .bl_frontPageTtlContainer {
            margin-bottom: rem(80);

            @include underSP {
                margin-bottom: rem(50);
            }
        }

        .bl_newsArchiveList {
            margin-bottom: rem(80);

            @include underSP {
                margin-bottom: rem(50);
            }
        }

        .bl_commonAllBtnContainer {
            width: fit-content;
            margin-inline: auto;
        }
    }
}

/* ------------------------------------------------------------------------------------------
#SNSセクション
------------------------------------------------------------------------------------------ */

.bl_fronSnsSection {
    padding-inline: rem(20);

    .bl_fronSnsSection_inner {
        display: flex;
        flex-direction: column;
        gap: rem(60);
        max-width: rem(900);
        width: 100%;
        margin-inline: auto;

        .bl_frontPageTtlContainer {
            margin-bottom: rem(80);
        }

        .bl_frontSnsContainer {
            padding-block: rem(40);
            border-radius: rem(30);
            background-color: #F6F6F6;
            border: 1px solid rgba(52, 49, 44, 0.30);

            .el_frontSnsContainer_ttl {
                color: var(--black);
                text-align: center;
                font-family: var(--subFontJa);
                font-size: rem(30);
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: calc(2.4 / 30 * 1em);
                background-color: #fff;
                padding-block: rem(28);
                margin-bottom: rem(30);

                @include underSP {
                    font-size: rem(22);
                }

                .sp_only {
                    display: none;

                    @include underSP {
                        display: block;
                    }
                }


            }

            .bl_frontSnsContainer_lower {
                padding-inline: rem(20);

                .bl_frontSnsContainer_lower_txtWrapper {
                    width: fit-content;
                    margin-inline: auto;
                    margin-bottom: rem(30);

                    .el_frontSnsContainer_lower_txtWrapper_txt {
                        color: var(--black);
                        text-align: center;
                        font-family: var(--mainFont);
                        font-size: rem(16);
                        font-weight: 400;
                        line-height: 1.8;
                        letter-spacing: calc(1.28 / 16 * 1em);

                        @include underSP {
                            text-align: left;
                        }

                        br {
                            @include underSP {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .bl_snsList {
            margin-bottom: rem(80);
        }
    }

    .bl_commonAllBtnContainer {
        width: fit-content;
        margin-inline: auto;
    }


    .bl_frontTiktokContainer {
        max-width: rem(443);
        width: 100%;
        margin-inline: auto;
        padding-top: rem(16);


        .bl_frontTiktokContainer_ttl {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            gap: rem(10);
            margin-bottom: rem(30);

            img {
                width: 100%;
            }

            .el_frontTiktokContainer_ttl_ttl {
                color: var(--black);
                font-family: var(--subFontJa);
                font-size: rem(30);
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: calc(2.4 / 30 * 1em);
                width: fit-content;
            }
        }
    }
}


/* ------------------------------------------------------------------------------------------
#ブログ
------------------------------------------------------------------------------------------ */

.bl_frontBlogSection {
    padding-top: rem(150);
    padding-inline: rem(20);

    .bl_frontBlogSection_inner {
        max-width: rem(1200);
        width: 100%;
        margin-inline: auto;

        .bl_frontPageTtlContainer {
            margin-bottom: rem(80);
        }


        .bl_frontBlogSwiperContainer {
            margin-bottom: rem(80);

            @include underSP {
                margin-bottom: rem(50);
            }

            .bl_blogArchiveList {
                @media (min-width: rem(1025)) {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(450)), 1fr));
                    row-gap: rem(80);
                    column-gap: rem(60);
                }

                @include underSP {
                    flex-direction: initial;
                    gap: 0;
                }
            }

            .bl_frontBlogSwiper_btnContainer {
                display: none;

                @include underSP {
                    display: grid;
                    grid-template-columns: rem(30) auto rem(30);
                    align-items: center;
                    gap: rem(10);
                    width: fit-content;
                    margin-inline: auto;

                    .bl_frontBlogSwiper_prev,
                    .bl_frontBlogSwiper_next {
                        cursor: pointer;
                        max-width: rem(30);
                        display: grid;
                        grid-template-columns: rem(8);
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1;
                        background-color: var(--black);
                        border-radius: 100%;
                        z-index: 1;
                        border: none;
                        transition: opacity 0.5s ease;

                        @include underSP {
                            max-width: rem(32);
                        }

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }

                        @media (any-hover: hover) {
                            &:hover {
                                opacity: 0.6;
                                transition: opacity 0.5s ease;
                            }
                        }
                    }

                    .bl_frontBlogSwiper_pagination {
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        gap: rem(4);

                        .swiper-pagination-bullet {
                            display: block;
                            width: rem(22);
                            height: rem(4);
                            background-color: #D9D9D9;
                            border-radius: rem(100);
                            opacity: 1;
                        }

                        .swiper-pagination-bullet-active {
                            background-color: var(--black);
                            opacity: 1;
                        }
                    }
                }
            }
        }



        .bl_commonAllBtnContainer {
            width: fit-content;
            margin-inline: auto;
        }
    }
}