@use '../foundation/function/index' as *;


.bl_commonReserveSection {
    background-image: url(../img/common/reserve-bg.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    padding: fluid(30, 'pc');

    @include underSP {
        background-image: url(../img/common/reserve-bg-sp.jpg);
    }


    .bl_commonReserveSection_inner {
        position: relative;
        overflow: hidden;

        .bl_commonReserveSection_contentWrapper {
            position: relative;
            z-index: 1;
            padding: fluid(40, 'pc');
            padding-inline: fluid(40, 'pc');
            padding-bottom: fluid(192, 'pc');
            width: 100%;

            .el_commonReserveSection_contentWrapper_title {
                position: relative;
                color: var(--white);
                font-family: var(--subFontEn);
                font-size: fluid(12, 'pc');
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.24 / 12 * 1em);
                z-index: 1;
                width: fit-content;
                margin-left: auto;
                text-transform: uppercase;
                margin-bottom: fluid(135, 'pc');

                @include underSP {
                    font-size: fluid(10, 'sp');
                    margin-bottom: fluid(114, 'sp');
                }
            }

            .bl_commonReserveSection_btnWrapper {
                display: grid;
                grid-template-columns: max-content 1px fluid(381, 'pc');
                align-items: center;
                justify-content: center;
                gap: fluid(138, 'pc');

                @include underSP {
                    grid-template-columns: 1fr;
                    gap: fluid(40, 'sp');
                }

                &::before {
                    content: '';
                    position: relative;
                    height: 70%;
                    margin-block: fluid(40, 'pc');
                    border-left: 1px dashed var(--white);
                    z-index: 1;
                    order: 2;

                    @include underSP {
                        display: none;
                    }
                }

                .el_commonReserveSection_contentWrapper_btnWrapper_ttl {
                    color: var(--white);
                    font-family: var(--subFontEn);
                    font-size: fluid(78, 'pc');
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: calc(1.56 / 78 * 1em);
                    width: fit-content;
                    order: 1;

                    @include underSP {
                        width: fit-content;
                        font-size: fluid(58, 'sp');
                        margin-inline: auto;
                    }
                }

                .bl_commonReserveSection_btnWrapper_btnList {
                    display: flex;
                    flex-direction: column;
                    gap: fluid(24, 'pc');
                    order: 3;

                    @include underSP {
                        flex-direction: row;
                        gap: fluid(20, 'sp');

                        .bl_commonReserveBtnWrapper {
                            width: 100%;
                        }
                    }

                    @include underSP_m {
                        flex-direction: column;
                        gap: fluid(16, 'sp');
                        
                    }
                }

                .bl_commonReserveBtnWrapper_btn {
                    width: 100%;
                    padding-block: fluid(30, 'pc');

                    @include underSP {
                        padding-block: fluid(30, 'sp');
                    }

                    .bl_commonReserveBtnWrapper_btn_txtContainer {
                        font-size: rem(20);
                        min-height: rem(22);
                    }
                }
            }
        }

        .bl_commonReserveSwiper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 2;
            }

            .swiper-wrapper {
                transition-timing-function: linear;
            }

            .swiper-slide {
                width: 100% !important;
                max-width: fluid(900, 'pc');
            }

            .bl_commonReserveSwiper_img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


.ly_footerMenuWrapper {
    padding-block: fluid(90, 'pc');
    padding-inline: fluid(160, 'pc');
    background-color: #E5E1DC;

    @include underSP {
        padding-block: fluid(70, 'sp');
        padding-inline: fluid(20, 'sp');
    }

    .bl_footerMenuWrapper_ttl {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: flex-end;
        justify-content: flex-start;
        gap: fluid(19, 'pc');
        padding-bottom: fluid(16, 'pc');
        border-bottom: 1px solid var(--line);
        margin-bottom: fluid(40, 'pc');

        @include underSP {
            gap: fluid(20, 'sp');
            padding-bottom: rem(14);
            margin-bottom: rem(40);
        }

        @include underSP_m {
            padding-bottom: fluid(20, 'sp');
        }

        .el_footerMenuWrapper_ttl_ja {
            font-family: var(--subFontJa);
            font-size: fluid(20, 'pc');
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: calc(0.8 / 20 * 1em);

            @include underSP{
                font-size: rem(20);
            }

            @include underSP_m {
                font-size: fluid(20, 'sp');
            }
        }

        .el_footerMenuWrapper_ttl_en {
            color: #444;
            font-family: var(--subFontEn);
            font-size: fluid(12, 'pc');
            font-weight: 400;
            line-height: 1;
            letter-spacing: calc(0.48 / 12 * 1em);
            padding-bottom: fluid(5, 'pc');

            @include underSP {
                font-size: rem(12);
            }

            @include underSP_m {
                font-size: fluid(12, 'sp');
            }
        }
    }


    .bl_footerMenuWrapper_content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(fluid(220, 'pc'), 100%), 1fr));
        column-gap: fluid(40, 'pc');
        row-gap: fluid(40, 'pc');
        align-items: flex-start;

        @include underSP {
            grid-template-columns: 1fr;
            row-gap: fluid(40, 'sp');
            column-gap: fluid(40, 'sp');
        }

        .bl_footerMenuWrapper_content_item {

            .el_footerMenuWrapper_content_item_ttl {
                color: var(--black);
                font-family: var(--subFontJa);
                font-size: fluid(16, 'pc');
                font-weight: 500;
                line-height: 1;
                letter-spacing: calc(0.64 / 16 * 1em);
                margin-bottom: fluid(25, 'pc');

                @include underSP {
                    font-size: rem(16);
                }

                @include underSP_m {
                    font-size: fluid(16, 'sp');
                }
            }

            .bl_footerMenuWrapper_postlist {
                display: flex;
                flex-direction: column;
                gap: fluid(12, 'pc');

                @include underSP {
                    gap: rem(12);
                }

                @include underSP_m {
                    gap: fluid(10, 'sp');
                }

                .bl_footerMenuWrapper_postlist_item {
                    width: fit-content;

                    .bl_footerMenuWrapper_postlist_btn {
                        display: grid;
                        grid-template-columns: rem(4) auto;
                        align-items: flex-start;
                        gap: rem(6);
                        font-feature-settings: 'palt' on;
                        font-size: rem(12);
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: calc(0.48 / 12 * 1em);
                        transition: opacity 0.5s ease;


                        @media (any-hover: hover) {
                            &:hover {
                                opacity: 0.7;
                                transition: opacity 0.5s ease;
                            }
                        }

                        &::before {
                            content: '';
                            display: block;
                            position: relative;
                            width: 100%;
                            height: auto;
                            aspect-ratio: 1/1;
                            background-color: #A09B92;
                            border-radius: 100%;
                            margin-top: rem(8);
                        }
                    }
                }
            }
        }
    }
}


.bl_footeeGoogleMapnWrapper {
    background-color: var(--white);
    aspect-ratio: 1440/330;
    width: 100%;
    height: auto;

    @include underSP {
        aspect-ratio: 428/220;
    }

    iframe {
        filter: grayscale(100%);
        width: 100%;
        height: 100%;
        display: block;
    }
}


.bl_footerNavSection {
    background-image: url(../img/common/footer-bg.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    padding-block: fluid(70, 'pc');
    padding-inline: fluid(160, 'pc');

    @include underSP {
        padding-top: fluid(70, 'sp');
        padding-bottom: fluid(110, 'sp');
        padding-inline: fluid(20, 'sp');
    }

    .bl_footerNavSection_upper {
        display: grid;
        grid-template-columns: rem(313) rem(468);
        justify-content: space-between;
        margin-bottom: fluid(60, 'pc');

        @include underSP{
            grid-template-columns: 1fr;
            gap: fluid(60, 'sp');
            margin-bottom: fluid(60, 'sp');

        }

        .bl_footerNavSection_upper_logo {
            cursor: pointer;
            display: block;
            margin-bottom: fluid(30, 'pc');
            transition: opacity 0.5s ease;

            @include underSP {
                max-width: fluid(340, 'sp');
                width: 100%;
                padding-inline: fluid(24, 'sp');
                margin-bottom: fluid(20, 'sp');
                margin-inline: auto;
            }

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.5s ease;
                }
            }

            img {
                width: 100%;
            }
        }

        .bl_footerNavSection_clinicInfo_location {
            display: flex;
            flex-direction: column;
            gap: fluid(10, 'pc');

            @include underSP {
                gap: fluid(6, 'sp');
            }

            .el_footerNavSection_clinicInfo_location_address {
                color: var(--white);
                font-feature-settings: 'palt' on;
                font-family: var(--mainFont);
                font-size: fluid(14, 'pc');
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.56 / 14 * 1em);

                @include underSP {
                    font-size: rem(16);
                    text-align: center;

                }

                @include underSP_m {
                    font-size: fluid(14, 'sp');
                    text-align: center;
                }
            }


            .bl_footerNavSection_clinicInfo_location_googleMapLink {
                display: grid;
                grid-template-columns: max-content fluid(10, 'pc');
                align-items: center;
                gap: fluid(6, 'pc');
                transition: opacity 0.5s ease;


                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.5s ease;
                    }
                }

                @include underSP {
                    grid-template-columns: max-content fluid(10, 'sp');
                    width: fit-content;
                    margin-inline: auto;
                    gap: fluid(6, 'sp');
                }

                .el_footerNavSection_clinicInfo_location_googleMapLink_txt {
                    color: var(--white);
                    font-feature-settings: 'palt' on;
                    font-family: var(--mainFont);
                    font-size: fluid(14, 'pc');
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: calc(0.56 / 14 * 1em);
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-skip-ink: auto;
                    text-decoration-thickness: auto;
                    text-underline-offset: auto;
                    text-underline-position: from-font;

                    @include underSP {
                        font-size: rem(14);
                    }

                    @include underSP_m {
                        font-size: fluid(14, 'sp');
                    }
                }
            }

        }

        .bl_footerNavSection_clinicInfo_sns {
            display: flex;
            gap: fluid(10, 'pc');
            align-items: center;
            margin-top: fluid(24, 'pc');

            @include underSP {
                justify-content: center;
                gap: fluid(6, 'sp');
                margin-top: fluid(14, 'sp');
            }

            .bl_footerNavSection_clinicInfo_sns_btn {
                display: block;
                width: 100%;
                height: 100%;
                max-width: fluid(20, 'pc');
                transition: opacity 0.5s ease;

                @include underSP {
                    max-width: fluid(20, 'sp');
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    aspect-ratio: 1 / 1;
                }

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }

        .bl_footerNavSection_accessBtnWrapper {
            margin-top: fluid(30, 'pc');
            max-width: fluid(230, 'pc');

            @include underSP {
                margin-top: fluid(20, 'sp');
                max-width: fluid(210, 'sp');
                width: 100%;
                margin-inline: auto;
            }

            .bl_commonViewMoreBtn {
                border: 1px solid var(--white);
                color: var(--white);

                .el_commonViewMoreBtn_txtWrapper_txt {
                    color: var(--white);
                }
            }

        }
    }

    .bl_footerNavSection_navContainer {

        

        .bl_commonNavContainer {
            column-gap: fluid(20, 'pc');
            @include underSP {
                grid-template-columns: 1fr 1fr;
                margin-bottom: 0;
                column-gap: fluid(24, 'sp');
            }
        }
    }


    .bl_footerNavSection_lower {
        padding-top: fluid(30, 'pc');
        border-top: 1px solid #E5E1DC;

        @include underSP {
            padding-top: fluid(30, 'sp');
        }

        .bl_footerNavSection_lower_inner {
            display: grid;
            grid-template-columns: repeat(3, auto);
            align-items: center;
            justify-content: flex-end;
            gap: fluid(30, 'pc');

            @include underSP {
                grid-template-columns: repeat(2, auto);
                column-gap: fluid(24, 'sp');
                row-gap: fluid(14, 'sp');
                justify-content: center;
            }

            .bl_footerNavSection_lower_btn {
                color: var(--white);
                font-feature-settings: 'palt' on;
                font-family: var(--mainFont);
                font-size: rem(12);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.48 / 12 * 1em);
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                        transition: opacity 0.5s ease;
                    }
                }
            }

            .bl_footerNavSection_lower_copyright {
                color: rgba(243, 242, 240, 0.60);
                font-feature-settings: 'palt' on;
                font-family: var(--mainFont);
                font-size: fluid(12, 'pc');
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.48 / 12 * 1em);

                @include underSP {
                    grid-column: span 2;
                    font-size: rem(12);
                    text-align: center;
                    width: fit-content;
                    margin-inline: auto;
                }

                @include underSP_m {
                    font-size: fluid(12, 'sp');
                    
                    text-align: center;
                }
            }
        }
    }
}