@use '../foundation/function/index' as *;



.ly_commonHeader {
    padding-block: fluid(30, 'pc');
    padding-inline: fluid(40, 'pc');
    z-index: 1000;
    position: relative;

    @include underSP {
        padding-block: fluid(30, 'sp');
        padding-inline: fluid(24, 'sp');
    }

    .ly_commonHeader_inner {
        display: grid;
        grid-template-columns: auto fluid(370, 'pc');
        justify-content: space-between;
        align-items: center;

        .bl_commonHeader_reserveContainer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: fluid(10, 'sp');

            .bl_commonReserveBtnWrapper {
                width: 100%;
                max-width: fluid(180, 'pc');
            }

            @include underSP {
                justify-content: center;
            }
        }
    }
}

.bl_commonHeader_navContainer_btn {
    position: relative;
    display: block;
    height: auto;
    width: rem(24);
    min-height: rem(16);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: rotate 0.5s ease;

    @include underSP {
        width: rem(32);
    }

    .el_commonHeader_navContainer_btn_line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--white);

        &:first-child {
            top: 0;
            rotate: 0;
            transform-origin: center left;
            transition: rotate 0.5s ease, top 0.5s ease;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child {
            bottom: 0;
            left: 0;
            rotate: 0;
            transform-origin: center left;
            transition: rotate 0.5s ease, bottom 0.5s ease;
        }
    }


    &.is-active {
        .el_commonHeader_navContainer_btn_line {
            &:first-child {
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                rotate: 45deg;
                transform-origin: center center;
                transition: rotate 0.5s ease, top 0.5s ease;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;

            }

            &:last-child {
                bottom: auto;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                rotate: -45deg;
                transform-origin: center center;
                transition: rotate 0.5s ease, top 0.5s ease;
            }
        }
    }
}

.bl_fixedHeader_btn {
    position: fixed;
    top: fluid(40, 'pc');
    left: fluid(40, 'pc');
    max-width: fluid(24, 'pc');
    z-index: 1000;
    display: none;

    @include underSP {
        top: fluid(25, 'sp');
        left: fluid(30, 'sp');
    }

    .el_commonHeader_navContainer_btn_line {
        background-color: var(--black);
        transition: background-color 0.3s ease;

    }


    &.is-active {
        .el_commonHeader_navContainer_btn_line {
            background-color: var(--white);
            transition: background-color 0.3s ease;
        }
    }
}




.ly_topHeader {
    padding-bottom: 0;

    .ly_commonHeader_inner {
        @include underSP {
            grid-template-columns: auto auto;
        }
    }

    .bl_commonHeader_reserveContainer {
        @include underSP {
            display: none !important;
        }
    }

    .bl_topFvContentWrapper_snsBtn {
        position: absolute;
        top: fluid(30, 'pc');
        right: fluid(40, 'pc');
        z-index: 0;

        @include underSP {
            top: fluid(30, 'sp');
            right: fluid(24, 'sp');
        }
    }

    .is-sp {
        display: none;

        @include underSP {
            display: grid;
        }
    }
}


.ly_commonHeaderNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;

    @include underSP {
        overflow-y: auto;
        z-index: 200;
    }

    .ly_commonHeaderNav_inner {
        display: grid;
        grid-template-columns: .9fr 1fr;
        align-items: flex-start;
        height: 100%;

        @include underSP {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .bl_commonHeaderNav_copyContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-image: url(../img/common/navbg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include underSP {
                width: 100%;
                min-height: rem(520);
                order: 2;
                background-image: url(../img/common/navbg-sp.jpg);
            }


            .bl_commonHeaderNav_copyContainer_txtWrapper {


                .el_commonHeaderNav_copyContainer_txtWrapper_jaTxt {
                    color: #FFF;
                    font-family: var(--subFontJa);
                    font-size: fluid(16, 'pc');
                    font-weight: 400;
                    line-height: 1.4;
                    letter-spacing: calc(0.64 / 16 * 1em);
                    margin-bottom: rem(16);
                    width: fit-content;
                    margin-inline: auto;
                    margin-bottom: rem(16);

                    @include underSP {
                        font-size: fluid(16, 'sp');
                    }
                }

                .el_commonHeaderNav_copyContainer_txtWrapper_enTxt {
                    color: var(--white, #F3F2F0);
                    font-family: var(--subFontEn);
                    font-size: fluid(12, 'pc');
                    font-weight: 400;
                    letter-spacing: calc(0.24 / 12 * 1em);
                    width: fit-content;
                    margin-inline: auto;

                    @include underSP {
                        font-size: fluid(12, 'sp');
                    }
                }
            }
        }


        .bl_commonHeaderNav_navContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-image: url(../img/common/nav-bg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-inline: fluid(60, 'pc');
            overflow-y: auto;
            border-left: 1px solid var(--white);

            @include underSP {
                grid-row: 1;
                padding-inline: fluid(40, 'sp');
                overflow-y: visible;
                height: fit-content;
                order: 1;
                width: 100%;
                border-left: none;
                border-bottom: 1px solid var(--white);
            }

            .bl_commonHeaderNav_navContainer_inner {

                @include underSP {
                    width: 100%;
                    margin-inline: auto;
                    padding-top: fluid(120, 'sp');
                    padding-bottom: fluid(80, 'sp');
                }
            }


            .bl_commonHeaderNav_navContainer_logoWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: fluid(40, 'pc');
                padding-bottom: rem(60);
                margin-bottom: rem(60);
                border-bottom: 1px solid var(--white);

                @include underSP {
                    width: 100%;
                    margin-inline: auto;
                }

                .el_commonHeaderNav_navContainer_logoWrapper_logo {
                    width: 100%;
                    display: block;
                    max-width: fluid(286, 'pc');


                    @include underSP {
                        max-width: rem(286);
                    }
                }

                .bl_commonHeaderNav_navContainer_logoWrapper_btnWrapper {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    gap: fluid(20, 'pc');
                    align-items: center;
                    padding-inline: fluid(18, 'pc');

                    @include underSP_m {
                        flex-direction: column;
                    }


                    .bl_commonReserveBtnWrapper {
                        width: 100%;

                        @include underSP {
                            max-width: fluid(280, 'sp');
                        }
                    }

                    .bl_commonReserveBtnWrapper_btn {
                        padding-block: fluid(20, 'pc');
                    }
                }
            }


            .bl_commonNavContainer {
                @include underSP {
                    grid-template-columns: 1fr;
                }

                .bl_commonNavContainer_itemWrapper {
                    display: flex;
                    flex-direction: column;
                    gap: fluid(30, 'pc');

                    @include underSP {
                        display: contents;
                    }
                }
            }
        }
    }
}


.ly_fixedHeader {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-block: fluid(30, 'pc');
    background-color: hsla(30, 15%, 88%, 0.1);
    backdrop-filter: blur(10px);

    @include underSP {
        padding-block: fluid(20, 'sp');
        padding-inline: fluid(20, 'sp');
    }

    .ly_commonHeader_inner {

        .bl_fixedHeader_btnContainer {
            display: grid;
            grid-template-columns: auto fluid(206, 'pc');
            align-items: center;
            gap: fluid(50, 'pc');

            @include underSP {
                gap: fluid(40, 'sp');
                grid-template-columns: auto fluid(160, 'sp');
            }

            .bl_commonHeader_navContainer_logo {
                grid-column: 2;
            }
        }

        .bl_commonHeader_navContainer_logo {
            transition: opacity 0.5s ease;

            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.5;
                    transition: opacity 0.5s ease;
                }
            }
        }

        .bl_commonHeader_navContainer_btn {

            .el_commonHeader_navContainer_btn_line {
                background-color: var(--black);
            }
        }
    }


    .bl_commonHeader_reserveContainer {
        @include underSP {
            display: none !important;
        }
    }
}


.bl_commonFixedReserveContainer {
    display: none;

    @include underSP {
        position: fixed;
        display: flex;
        justify-content: center;
        gap: fluid(10, 'sp');
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding-bottom: calc(env(safe-area-inset-bottom) + fluid(20, 'sp'));
        padding-inline: fluid(20, 'sp');
        z-index: 100;

        .bl_commonReserveBtnWrapper {
            width: 100%;
            max-width: fluid(180, 'pc');

            @include underSP {
                max-width: fluid(280, 'sp');
            }
        }
    }
}


.bl_commonFixedInstagramBtnContainer {
    display: none;
    position: fixed;
    bottom: fluid(40, 'pc');
    right: fluid(40, 'pc');
    z-index: 95;
    mix-blend-mode: difference;
}