@use '../foundation/function/index' as *;


.bl_footerReserveContainer {
    padding-top: rem(200);

    @include underSP {
        padding-top: rem(140);
    }

    .bl_footerReserveContainer_logo {
        width: 100%;
        margin-inline: auto;
        padding-inline: rem(120);
        margin-bottom: rem(-5);
        @include underSP {
            padding-inline: rem(12);
        }
        img {
            width: 100%;
        }
    }

    .bl_footerReserveContainer_section {
        padding-block: rem(60);
        background-color: var(--black);
        border-radius: rem(60) rem(60) 0 0;

        @include underSP {
            padding-inline: rem(20);
        }

        .bl_footerReserveContainer_section_inner {
            display: grid;
            grid-template-columns: 1fr rem(596);
            padding-right: rem(120);
            align-items: center;
            width: 100%;
            margin-inline: auto;

            @include underSP {
                grid-template-columns: 1fr;
                padding-right: 0;
            }

            .bl_frontPageTtlContainer {
                @include underSP {
                    margin-bottom: rem(50);
                }

                .bl_frontPageTtlContainer_enTtl {
                    color: #fff;
                    font-family: var(--subFontEn);
                    font-size: rem(26);
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: calc(2.6 / 26 * 1em);

                    @include underSP {
                        font-size: rem(20);
                    }
                }

                .bl_frontPageTtlContainer_jaTtl {
                    color: #fff;
                    font-family: var(--subFontJa);
                    font-size: rem(50);
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: calc(4 / 50 * 1em);

                    @include underSP {
                        font-size: rem(30);
                    }
                }
            }


            .bl_footerReserveContainer_section_contents {

                .bl_common_telWrapper {
                    padding-block: rem(38);
                    margin-bottom: rem(36);
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;

                    @include underSP {
                        padding-block: rem(36);
                    }

                    .el_common_telLink {
                        color: #fff;
                        font-size: rem(34);
                        font-weight: 300;
                        line-height: 1.2;
                        letter-spacing: calc(1.36 / 34 * 1em);

                        @include underSP {
                            font-size: rem(34);
                        }
                    }

                    .el_common_telHour {
                        color: #FFF;

                        @include underSP {
                            font-size: rem(16);
                        }
                    }
                }

                .bl_header_contentsWrapper_ctaWrapper {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: rem(10);

                    @include underSP {
                        grid-template-columns: repeat(1, 1fr);
                        max-width: rem(500);
                        margin-inline: auto;
                    }
                }

                .bl_commonCtaBtn {
                    .bl_commonCtaBtn_inner {
                        background-color: #fff;

                        .el_commonCtaBtn_txt {
                            color: var(--black);
                            font-family: var(--subFontJa);
                            font-size: rem(14);
                            font-weight: 500;
                            line-height: 1.2;
                            letter-spacing: calc(1.28 / 16 * 1em);
                        }
                    }
                }
            }

        }
    }
}


.bl_footerSnsList {
    display: flex;
    align-items: center;
    gap: rem(12);
    margin-bottom: rem(26);

    .bl_footerSnsList_item {
        background-color: #FFF;
        border-radius: rem(4);
        padding: rem(5);
        aspect-ratio: 1/1;
        height: auto;
        width: 100%;
        max-width: rem(30);
        transition: opacity 0.5s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
                transition: opacity 0.5s ease;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            aspect-ratio: 1/1;
        }
    }
}


/* ------------------------------------------------------------------------------------------
#スケジュール
------------------------------------------------------------------------------------------ */

.bl_footerScheduleContainer {
    padding-block: rem(100);
    padding-inline: rem(20);



    .bl_footerScheduleContainer_inner {
        max-width: rem(1200);
        width: 100%;
        margin-inline: auto;

        .bl_frontPageTtlContainer {
            margin-bottom: rem(80);

            @include underSP {
                margin-bottom: rem(50);
            }
        }

        .bl_footerScheduleContainer_list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            row-gap: rem(42);

            @include underSP {
                display: flex;
                flex-direction: column;
                gap: rem(20);
            }

            .bl_footerScheduleContainer_list_item {

                &:nth-child(odd) {
                    display: flex;
                    justify-content: space-between;
                    gap: rem(42);

                    @include underSP {
                        flex-direction: column;
                        gap: rem(20);
                    }

                    &::after {
                        content: '';
                        position: relative;
                        display: block;
                        width: 1px;
                        background-color: rgba(52, 49, 44, 0.30);

                        @include underSP {
                            height: 1px;
                            width: 100%;
                        }
                    }
                }

                &:nth-child(even) {
                    display: flex;
                    gap: rem(42);

                    @include underSP {
                        display: block;
                    }

                    &::before {
                        content: '';
                        position: relative;

                        @include underSP {
                            display: none;
                        }
                    }
                }


                .el_footerScheduleContainer_list_item_ttl {
                    margin-inline: auto;
                    color: #fff;
                    font-family: var(--subFontJa);
                    font-size: rem(20);
                    font-weight: 500;

                    @include underSP {
                        font-size: rem(16);
                    }

                    .bl_footerScheduleContainer_list_item_inner {
                        display: flex;
                        flex-direction: column;
                        gap: rem(20);
                    }

                    line-height: 1.2;
                    letter-spacing: calc(1.6 / 20 * 1em);
                    padding-block: rem(15);
                    background-color: var(--black);
                    text-align: center;
                    width: 100%;
                    max-width: rem(458);
                    border-radius: rem(8);
                    margin-bottom: rem(20);
                }

                .bl_scheduleContainer {

                    .bl_scheduleContainer_upper {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        gap: rem(20);
                        margin-bottom: rem(24);

                        .bl_scheduleContainer_upper_prev,
                        .bl_scheduleContainer_upper_next {
                            display: grid;
                            grid-template-columns: rem(6);
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: auto;
                            aspect-ratio: 1/1;
                            background-color: var(--black);
                            border-radius: 100%;
                            max-width: rem(32);
                            border: none;
                            transition: opacity 0.5s ease;

                            @media (any-hover: hover) {
                                &:hover {
                                    opacity: 0.6;
                                    transition: opacity 0.5s ease;
                                }
                            }

                            img {
                                width: 100%;
                                height: auto;
                                object-fit: contain;
                            }
                        }

                        .swiper-button-disabled{
                            opacity: 0.6;
                            transition: opacity 0.5s ease;
                            pointer-events: none;
                            cursor: default;
                        }


                        .bl_scheduleSwiper {
                            max-width: rem(458);
                            width: 100%;

                            .swiper-slide {
                                width: 100%;
                            }
                        }
                    }


                    .bl_scheduleContainer_paginationWrapper {
                        width: fit-content;
                        display: flex;
                        align-items: center;
                        gap: rem(4);
                        margin-inline: auto;

                        .swiper-pagination-bullet {
                            display: block;
                            width: rem(22);
                            height: rem(4);
                            background-color: #D9D9D9;
                            border-radius: rem(100);
                            opacity: 1;
                        }

                        .swiper-pagination-bullet-active {
                            background-color: var(--black);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}



.bl_footerClinicBranchContainer {
    padding-block: rem(80);
    background-color: var(--gray);
    padding-inline: rem(20);

    .bl_footerClinicBranchContainer_inner {
        display: flex;
        flex-direction: column;
        gap: rem(80);
        max-width: rem(1200);
        width: 100%;
        margin-inline: auto;


        .bl_footerClinicBranchWrapper {
            display: grid;
            grid-template-columns: 1fr rem(420);
            align-items: center;
            gap: rem(112);

            @include underSP {
                gap: rem(30);
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: rem(30);
            }

            &:not(:last-child) {
                padding-bottom: rem(80);
                border-bottom: 1px solid rgba(52, 49, 44, 0.30);
            }


            .bl_footerClinicBranchWrapper_googlemap {
                width: 100%;
                height: auto;
                min-height: rem(300);

                @include underSP {
                    min-height: rem(194);
                }

                iframe {
                    display: block;
                    width: 100%;
                    height: rem(300);

                    @include underSP {
                        height: rem(194);
                    }
                }
            }

            .bl_footerClinicBranchWrapper_infoWrapper {

                .el_footerClinicBranchWrapper_infoWrapper_ttl {
                    color: var(--black);
                    font-family: var(--subFontJa);
                    font-size: rem(24);
                    font-weight: 600;
                    line-height: 1.2;
                    letter-spacing: calc(1.92 / 24 * 1em);
                    margin-bottom: rem(30);

                    @include underSP {
                        font-size: rem(20);
                    }
                }

                .el_footerClinicBranchWrapper_infoWrapper_address {
                    font-family: var(--mainFont);
                    font-size: rem(16);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.8;
                    letter-spacing: calc(1.28 / 16 * 1em);
                    margin-bottom: rem(24);
                }

                .bl_footerClinicBranchWrapper_infoWrapper_cliniInfoList {
                    display: flex;
                    flex-direction: column;
                    gap: rem(10);
                    margin-bottom: rem(20);

                    .bl_footerClinicBranchWrapper_infoWrapper_cliniInfoList_item {
                        display: grid;
                        grid-template-columns: rem(70) 1fr;
                        align-items: flex-start;
                        gap: rem(24);

                        .el_footerClinicBranchWrapper_infoWrapper_cliniInfoList_item_ttl {
                            font-family: var(--mainFont);
                            font-size: rem(16);
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: calc(1.28 / 16 * 1em);
                        }

                        .el_footerClinicBranchWrapper_infoWrapper_cliniInfoList_item_txt {
                            font-family: var(--mainFont);
                            font-size: rem(16);
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: calc(1.28 / 16 * 1em);

                            .el_footerClinicBranchWrapper_infoWrapper_cliniInfoList_item_txt_link {
                                color: var(--black);
                                display: block;
                                width: fit-content;
                                pointer-events: none;

                                @include underSP {
                                    pointer-events: auto;
                                }
                            }
                        }
                    }
                }
            }

            .bl_footerClinicBranchWrapper_infoWrapper_noteLink {
                display: grid;
                grid-template-columns: auto rem(16);
                align-items: center;
                justify-content: center;
                gap: rem(8);
                padding-block: rem(14);
                border-radius: rem(100);
                background-color: var(--black);
                color: #fff;
                font-family: var(--mainFont);
                font-size: rem(16);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(1.28 / 16 * 1em);
                max-width: rem(195);
                transition: opacity 0.5s ease;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    aspect-ratio: 1/1;
                    padding-top: rem(2);
                }
            }
        }
    }
}



.ly_footer {
    background-color: var(--black);

    .bl_footer_upper {
        padding-top: rem(100);
        padding-inline: rem(20);

        .bl_footer_upper_inner {
            max-width: rem(1200);
            width: 100%;
            margin-inline: auto;
        }
    }


    .bl_footerMenuPostList {
        display: flex;
        flex-direction: column;
        gap: rem(80);
        padding-bottom: rem(100);
        border-bottom: 1px dashed rgba(255, 255, 255, 0.70);

        .bl_footerMenuPostList_item {

            .el_footerMenuPostList_item_ttl {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                gap: rem(20);
                color: #FFF;
                font-family: var(--subFontJa);
                font-size: rem(28);
                font-style: normal;
                font-weight: 300;
                line-height: 1.2;
                letter-spacing: calc(2.24 / 28 * 1em);
                margin-bottom: rem(50);


                &::after {
                    content: '';
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: #FFF;
                }

                .el_footerMenuPostList_item_ttl_txt {
                    display: block;
                    width: fit-content;
                }
            }


            .bl_footerMenuPostList_childList {
                display: flex;
                flex-direction: column;
                gap: rem(50);

                .el_footerMenuPostList_item_child_ttl {
                    padding-left: rem(20);
                    border-left: 4px solid #FFF;
                    color: #FFF;
                    font-family: var(--mainFont);
                    font-size: rem(20);
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: calc(1.6 / 20 * 1em);
                }

                .bl_footerMenuPostList_childList_item {
                    display: flex;
                    flex-direction: column;
                    gap: rem(30);
                }
            }

            .bl_footerMenuPostList_postList {
                display: flex;
                flex-wrap: wrap;
                gap: rem(30);

                .el_footerMenuPostList_postList_item {
                    color: #FFF;
                    font-family: var(--mainFont);
                    font-size: rem(16);
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: calc(1.28 / 16 * 1em);
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-skip-ink: auto;
                    text-decoration-thickness: auto;
                    text-underline-offset: auto;
                    text-underline-position: from-font;
                    transition: opacity 0.5s ease;


                    @media (any-hover: hover) {
                        &:hover {
                            opacity: 0.6;
                            transition: opacity 0.5s ease;
                        }
                    }
                }
            }
        }
    }


    .bl_footerNavContainer {

        .bl_footerNavContainer_inner {
            display: grid;
            grid-template-columns: rem(510) rem(480);
            align-items: flex-start;
            justify-content: space-between;
            gap: rem(20);
            padding-top: rem(100);
            padding-bottom: rem(50);


            @media screen and (max-width: 1100px) {
                grid-template-columns: rem(450) rem(480);
            }


            @include underSP {
                grid-template-columns: 1fr;
                gap: rem(80);
                padding-bottom: rem(30);
            }

            .bl_footerNavContainer_leftWrapper {

                @include underSP {
                    order: 2;
                }

                .bl_footerNavContainer_leftWrapper_logo {
                    display: block;
                    width: 100%;
                    transition: opacity 0.5s ease;
                    margin-bottom: rem(50);

                    @media (any-hover: hover) {
                        &:hover {
                            opacity: 0.7;
                            transition: opacity 0.5s ease;
                        }
                    }
                }

                .bl_footerNavContainer_leftWrapper_infoWrapper {

                    .bl_common_telWrapper {

                        .el_common_telLink {
                            text-align: left;
                            color: #FFF;
                            font-family: var(--subFontJa);
                            font-size: rem(24);
                            font-weight: 500;
                            line-height: 1.2;
                            letter-spacing: calc(0.96 / 24 * 1em);
                            margin-right: auto;
                            margin-left: 0;
                        }

                        .el_common_telHour {
                            text-align: left;
                            color: #FFF;
                            font-family: var(--mainFont);
                            font-size: rem(14);
                            font-style: normal;
                            font-weight: 300;
                            line-height: 1.5;
                            margin-right: auto;
                            margin-left: 0;
                            letter-spacing: calc(1.12 / 14 * 1em);

                            @include underSP {
                                font-size: rem(12);
                            }
                        }
                    }
                }

                .bl_footerSnsList {
                    margin-bottom: 0;
                }
            }


            .bl_footerNavContainer_nav {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                justify-content: flex-end;
                row-gap: rem(30);
                column-gap: rem(80);

                @include underSP {
                    grid-columns: 1;
                    column-gap: rem(30);
                }

                @include underSP_m {
                    grid-template-columns: 1fr;
                }

                .bl_footerNavContainer_nav_item {
                    display: grid;
                    grid-template-columns: 1fr rem(10);
                    align-items: center;
                    gap: rem(10);
                    color: #FFF;
                    font-family: var(--subFontJa);
                    font-size: rem(16);
                    font-weight: 300;
                    line-height: 1.2;
                    letter-spacing: calc(1.28 / 16 * 1em);
                    transition: opacity 0.5s ease;

                    @media (any-hover: hover) {
                        &:hover {
                            opacity: 0.7;
                            transition: opacity 0.5s ease;
                        }
                    }
                }
            }
        }
    }

    .bl_footer_lower {
        background-color: #fff;
        padding-block: rem(20);
        padding-inline: rem(20);

        .bl_footer_lower_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: rem(1200);
            margin-inline: auto;

            @include underSP {
                flex-direction: column;
                gap: rem(24);
            }

            .bl_footer_lower_inner_linkWrapper {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: rem(20);


                .el_footer_lower_link {
                    color: #34312C;
                    font-family: var(--subFontJa);
                    font-size: rem(12);
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: calc(0.96 / 12 * 1em);
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-skip-ink: auto;
                    text-decoration-thickness: auto;
                    text-underline-offset: auto;
                    text-underline-position: from-font;

                    transition: opacity 0.5s ease;

                    @media (any-hover: hover) {
                        &:hover {
                            opacity: 0.6;
                            transition: opacity 0.5s ease;
                        }
                    }
                }
            }

            .el_footer_lower_copyright {
                color: var(--black);
                font-family: var(--subFontJa);
                font-size: rem(12);
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: calc(0.96 / 12 * 1em);
            }
        }
    }

}