@use '../foundation/function/index' as *;


.ly_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-top: 5px solid #34312C;
    background-color: #fff;

    .ly_header_inner {
        padding-block: rem(18);
        padding-inline: rem(30);
        display: grid;
        grid-template-columns: rem(165) 1fr;
        gap: rem(30);
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1085px) {
            grid-template-columns: rem(140) 1fr;
            gap: rem(15);
            padding-inline: rem(20);
        }

        @include underSP {
            grid-template-columns: rem(99) 1fr;
        }

        .bl_header_logoWrapper {
            .el_header_logo {
                width: 100%;
                height: 100%;
                object-fit: contain;
                aspect-ratio: 1/1;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }
    }
}

.ly_header_contentsWrapper {

    .bl_header_contentsWrapper_upper {
        display: grid;
        grid-template-columns: rem(165) rem(72);
        gap: rem(30);
        align-items: center;
        justify-content: flex-end;
        margin-bottom: rem(20);

        @include underSP {
            display: none;
        }


        .bl_header_searchWrapper {
            display: grid;
            grid-template-columns: auto rem(20);
            gap: rem(4);
            align-items: center;
            justify-content: flex-end;
            border: 1px solid var(--black);
            border-radius: rem(4);

            .el_header_searchWrapper_input {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                padding-left: rem(10);
                padding-block: rem(7);
                border-radius: rem(4);

                &::placeholder {
                    color: rgba(52, 49, 44, 0.40);

                    font-size: rem(12);
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: calc(0.96 / 12 * 1em);
                }
            }

            .el_header_searchWrapper_button {
                display: block;
                background-color: transparent;
                border: none;
                cursor: pointer;
                height: auto;
                aspect-ratio: 1/1;
                padding: 0;
                padding-right: rem(4);

                .el_header_searchWrapper_button_icon {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }


        .bl_header_langWrapper {
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: rem(10);
                height: rem(6);
                background-image: url(../img/common/lang-arrow.svg);
                background-size: 100%;
                background-repeat: no-repeat;
            }

            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -o-appearance: none;
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                color: #34312C;
                font-family: Marcellus;
                font-size: rem(14);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.28 / 14 * 1em);
                cursor: pointer;
                transition: opacity 0.5s ease;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }
    }


    .bl_header_contentsWrapper_lower {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: flex-end;
        gap: rem(24);
        align-items: center;

        @media screen and (max-width: 1085px) {
            gap: rem(10);
        }

        .bl_header_contentsWrapper_telWrapper {
            display: flex;
            flex-direction: column;
            gap: rem(2);

            @include underSP {
                display: none;
            }

            .el_header_contentsWrapper_telLink {
                color: #34312C;
                font-family: var(--subFontJa);
                font-size: rem(22);
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: calc(0.88 / 22 * 1em);
                pointer-events: none;

                @include underSP {
                    pointer-events: auto;
                }
            }

            .el_header_contentsWrapper_telHour {
                width: fit-content;
                margin-inline: auto;
                color: var(--black);
                font-family: var(--mainFont);
                font-size: rem(12);
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: calc(0.96 / 12 * 1em);
            }

        }


        .bl_header_contentsWrapper_btnWrapper {
            display: grid;
            grid-template-columns: auto rem(22);
            gap: rem(10);
            align-items: center;
            justify-content: flex-end;

            .bl_header_contentsWrapper_ctaWrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: rem(10);
                align-items: center;
                justify-content: flex-end;

                @media screen and (max-width: 1085px) {
                    gap: rem(5);
                }

                @include underSP {
                    display: none;
                }

                .bl_commonCtaBtn {

                    .bl_commonCtaBtn_inner {
                        padding-block: rem(12);
                    }
                }
            }

            .bl_header_toggleBtn {
                position: relative;
                display: block;
                aspect-ratio: 22/16;
                height: auto;
                width: 100%;
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 0;

                @include underSP {
                    grid-column: 2;
                }

                .el_header_toggleBtn_line {
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: var(--black);

                    &:nth-child(1) {
                        top: 0;
                    }

                    &:nth-child(2) {
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }

                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

.bl_header_nav {
    background-color: #F6F6F6;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);

    @include underSP {
        display: none;
    }

    .bl_header_nav_inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: rem(864);
        margin-inline: auto;

        .bl_header_nav_item {
            display: grid;
            grid-template-columns: auto rem(10);
            gap: rem(10);
            align-items: center;
            justify-content: center;
            padding-block: rem(15);
            border-left: 1px solid var(--black);
            border-right: 1px solid var(--black);

            &:not(:last-child) {
                border-right: none;
            }

            .el_header_nav_item_arrow {
                display: block;
            }

            .el_header_nav_item_txt {
                color: var(--black);
                font-family: var(--subFontJa);
                font-size: rem(16);
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: calc(1.28 / 16 * 1em);
                transition: opacity 0.5s ease;
            }

            @media (any-hover: hover) {
                &:hover {
                    .el_header_nav_item_txt {
                        opacity: 0.6;
                        transition: opacity 0.5s ease;
                    }
                }
            }
        }
    }
}

/* ------------------------------------------------------------------------------------------
#共通ナビゲーション
------------------------------------------------------------------------------------------ */
.bl_commonToggleNavOuter {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #34312C;
    opacity: .8;
    z-index: 9999;
}

.bl_commonToggleNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    z-index: 10000;
    width: 100%;
    max-width: rem(680);
    transform: translateX(100%);

    .bl_commonToggleNav_inner {
        overflow-y: auto;
        padding: rem(40);
        height: 100%;

        @include underSP {
            padding: rem(20);
        }
    }

    .bl_commonToggleNav_closeBtn {
        position: relative;
        display: block;
        max-width: rem(16);
        width: 100%;
        height: auto;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        aspect-ratio: 1/1;
        margin-left: auto;
        margin-bottom: rem(30);

        @include underSP {
            max-width: rem(22);
        }

        .el_commonToggleNav_closeBtn_line {
            position: absolute;
            width: 100%;
            height: 1px;
            border-radius: 2px;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background-color: var(--black);


            &:nth-child(1) {
                rotate: 45deg;
            }

            &:nth-child(2) {
                rotate: -45deg;
            }
        }
    }

    .bl_commonNavBtnList {
        grid-template-columns: repeat(2, 1fr);
        
        @include underSP {
            grid-template-columns: repeat(2, 1fr);
            column-gap: rem(28);
            row-gap: rem(20);
            padding-inline: 0;
            margin-bottom: rem(16);
        }

        @include underSP_m {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .bl_commonToggleNav_recruitLink {
        display: block;
        color: var(--black);
        font-family: var(--subFontJa);
        font-size: rem(14);
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: calc(1.12 / 14 * 1em);
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        transition: opacity 0.5s ease;
        width: fit-content;
        margin-inline: auto;
        margin-bottom: rem(40);

        @include underSP {
            margin-bottom: rem(20);
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.6;
                transition: opacity 0.5s ease;
            }
        }
    }


    .bl_commonToggleNav_lower {

        .bl_commonToggleNav_lower_logo {
            padding-inline: rem(50);
            margin-bottom: rem(30);
        }

        .bl_commonToggleNav_infoWrapper {
            border: 1px solid rgba(52, 49, 44, 0.30);
            padding-block: rem(30);
            padding-inline: rem(5);
            border-radius: rem(4);

            .bl_commonToggleNav_infoWrapper_ctaWrapper {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: rem(5);
                align-items: center;
                margin-bottom: rem(24);

                @media screen and (max-width: 650px) {
                    grid-template-columns: repeat(1, 1fr);
                    max-width: rem(280);
                    margin-inline: auto;
                }


                .bl_commonCtaBtn {

                    .el_commonCtaBtn_txt {
                        font-size: rem(12);
                    }
                }

                .bl_commonCtaIconBtn {
                    .bl_commonCtaBtn_inner {
                        gap: rem(4);
                    }
                }
            }


            .bl_commonSnsList {
                max-width: rem(114);
                margin-inline: auto;
            }
        }
    }
}


.bl_commonTopScrollBtn {
    position: fixed;
    bottom: rem(24);
    right: rem(24);
    border-radius: 100%;
    background-color: var(--black);
    max-width: rem(70);
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 0;
    border: none;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;

    @include underSP {
        bottom: calc(env(safe-area-inset-bottom) + rem(24));
    }

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.6;
            transition: opacity 0.5s ease;
        }
    }

    .bl_commonTopScrollBtn_inner {

        .el_commonTopScrollBtn_inner_icon {
            width: 100%;
            max-width: rem(14);
            margin-inline: auto;
            margin-bottom: rem(5);
        }

        .el_commonTopScrollBtn_inner_txt {
            color: #FFF;
            text-align: center;
            font-family: var(--subFontJa);
            font-size: rem(16);
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: calc(1.6 / 16 * 1em);
        }
    }
}